.footer {
    background-color: #2c2c2c;
    color: #e5e4e4;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    max-height: 30px;

}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
    max-height: 20px;
}

.revalle {
    max-height: 15px;
}