Cadastrando novo curso...
<br><br>
<h1>Cadastro de Cursos</h1>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" >
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
<button mat-raised-button autofocus routerLink="/cursos">Salvar</button> <button mat-raised-button routerLink="/cursos">Cancelar</button>

<br><br>

