Cadastrando nova matrícula...
<h1>Cadastro de Matrículas</h1>

<!– Fazer o auto complete –>
    <mat-form-field appearance="fill">
        <mat-label>Aluno</mat-label>
        <mat-select>
          <mat-option value="one">Fulano</mat-option>
          <mat-option value="two">Siclano</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Turma</mat-label>
        <mat-select>
          <mat-option value="one">JUV.2021</mat-option>
          <mat-option value="two">INF.2021</mat-option>
        </mat-select>
    </mat-form-field>

<br>
<button mat-raised-button autofocus routerLink="/matriculas">Salvar</button> <button mat-raised-button routerLink="/matriculas">Cancelar</button>